@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The National Horsejerk League</h1>
    <p class="lead">The place where fantasy football goes to die! </p>
    <p><a href="http://www.espn.com/fantasy/football/" class="btn btn-primary btn-lg">ESPN Fantasy Football homepage &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@ViewBag.Message</h2>
        <p>
            I just love you, you.
        </p>
        <p><a class="btn btn-default" href="https://s-media-cache-ak0.pinimg.com/originals/44/a3/17/44a317663d1f60c2e90160dacd961cc1.jpg">Love &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The Ass League</h2>
        <p>Click the link to see the teams and standings for the Ass League.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Ass &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The Titties League</h2>
        <p>Click the link to see the teams and standings for the Titties League.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Titties &raquo;</a></p>
    </div>
</div>