@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The National Horsejerk League</h1>
    <p class="lead">The place where fantasy football goes to die! </p>
    <p><a href="http://www.espn.com/fantasy/football/" class="btn btn-primary btn-lg">ESPN Fantasy Football homepage &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@ViewBag.Message</h2>
        <p>
            The off season has begun after Dale beat Dustan with most of Luper's players.  
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/Cptcecil?fref=ts">2016 HorseJerk Champion &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The Ass League</h2>
        <<ol>
            <li>Dale Marshall</li>
            <li>Dan Striebich</li>
            <li>John Conely</li>
            <li>Ernest DaGucci</li>
            <li>Jeff Main</li>
        </ol>
        
    </div>
    <div class="col-md-4">
        <h2>The Titties League</h2>
        <<ol>
            <li>Billy Manuel</li>
            <li>Zach Striebich</li>
            <li>Josh Luper</li>
            <li>Dustpan Holland</li>
            <li>Player Unknown</li>
        </ol>
       
    </div>
</div>