@{
    ViewBag.Title = "Home Page";
}

<div class="bg"></div>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-12">
                <img src="~/Content/Images/haskmarks2.jpg" class="img-rounded" alt="field hashmarks" width="956" height="200">
                <div class="page-header">
                    <h2> Between The Hashmarks </h2>
                    <p>a forum for elite fantasy footballers to establish a homebase, talk smack and arrange lineups. </p>
                </div>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>@ViewBag.Message</h2>
        <p>
           The forum is a more focused arena for trash talk or hashing out a discussion.
        </p>
        <p><a class="btn btn-default" href="wwwwwwwwwwwww">Forum &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Roster</h2>
        <p>Set up your Fantasy Roster and stay up to date with injuries and starters.</p>
        <p><a class="btn btn-default" href="wwwwwwww">Roster &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SCHWAAA?</h2>
        <p>Do you have an extra button because your site is not fully developed yet? Y'DO? GREAT!</p>
        <p><a class="btn btn-default" href="wwwwwwwwwww">Useless Button &raquo;</a></p>
    </div>
</div>
