@{
    ViewBag.Title = "Rules";
}
<div class="container">
    <h2>Constitution</h2>
    <h2>Fantasy Football Constitution – 16 week - PPR League</h2>
    <h2>National Horse-jerk League</h2>
    <h2>League Officers</h2>
    <p>
        Your league officers are available if you have any questions or are in need of assistance.  If your
        question pertains to a feature provided by our hosting provider, please utilize their support
        resources before contacting a league officer.  
    </p>
    <div class="row">
        <div class="col-md-2">
            <img class="img-responsive" src="~/Content/Images/dustan.jpg" />
        </div>
        <div class="col-md-10">
            <div class="row">
                <b>League Commissioner</b>
            </div>
            <div class="row">
                <i>Dustan Holland</i>
            </div>
            <div class="row">
                <i>(336) 403-7006</i>
            </div>
            <div class="row">
                <i>thrapsterd@gmail.com</i>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <img class="img-responsive" src="~/Content/Images/dale.jpg" />
        </div>
        <div class="col-md-10">
            <div class="row">
                <b>League Treasurer and Webmaster</b>
            </div>
            <div class="row">
                <i>Dale Marshall</i>
            </div>
            <div class="row">
                <i>(336) 403-9161</i>
            </div>
            <div class="row">
                <i>cptcecil@gmail.com</i>
            </div>
        </div>
    </div>
    <br />
    <p>
    Please remit your league entry fees to the league treasurer.  The preferred method of payment is Paypal.  You can send in your payments by clicking 
    <a href="https://paypal.me/cptcecil">here</a>.  In the event that you are awarded a cash prize, it is your responsibility to provide the league treasurer 
    with your address or details of an alternate method of payment.
    </p>
    
    <h2>League Entry and Other Fees</h2>
    <p>
        The following fees will be collected yearly to finance league operations and prizes.<br/>
        Entry Fee: <b>$100 Total Per Team</b>.
        The league entry fee is comprised of a base $84 fee and a $16 additional fee for weekly prize
        pool.  You can pay your treasurer by clicking <a href="https://paypal.me/cptcecil">here</a>.
    </p>

    <h2>Prize Payout Structure</h2>
    <p>
        Our league awards cash prizes to the top 3 teams which reach the Championship playoff
        bracket.  We also award a weekly cash prize to the team with the highest score during each week
        of the fantasy football regular season.
    </p>
        <ul>
            <li>
                <b>
                    1st Place: $540.00 with 10 teams (54%)
                </b>
            </li>
            <li>
                <b>
                    2nd Place: $200.00 with 10 teams (20%)
                </b>
            </li>
            <li>
                <b>
                    3rd Place: $100.00 with 10 teams (10%)
                </b>
            </li>
            <li>
                <b>
                    Weekly Prizes $10.00 per week, 16 weeks (16%)
                </b>
            </li>
        </ul>
    <p>
        The dollar amounts above shall be considered the actual payout amounts pending verification of
        payment from all owners.  In addition to the total cash payout for each prize, the exact
        percentage of the total prize pot is indicated and will be considered if all entry fees are not
        collected. Weekly prizes will be delivered the following week to account for any scoring
        changes.
    </p>
    <h2>Late Payments</h2>
    <p>
        <b>
            Any weekly prize winnings accrued by a team who hasn't paid their league entry fee (by the time
            the weekly prize is won) will be forfeited and added to the Champion's prize payout
        </b>.  If a team
        has not paid their entry fee by the time the Week 7 game is played, they will be expelled
        immediately.  The commissioner has no discretion for providing a grace period and neither does
        the league.  The commissioner will take over managing the delinquent team for the purposes of
        the championship/loser brackets.
    </p>

    <h2>Playoff Configuration</h2>
    <p>
        The league will implement a 4-team Championship playoff system. The top 4 teams will be
        determined first by win/loss record and then by head to head against each other.  The
        Championship playoffs start on week 14 of the NFL regular season and last 2 weeks.
        This league will also implement a 6-team Loser playoff bracket.  
    </p>

    <h2>Trades</h2>
    <p>
        <b>All trades shall go through unless collusion is suspected.</b> If a trade is questionable each team
        must provide a reasonable case for their attempted acquisition. If the LM finds the case is not
        reasonable then it will be open to veto requiring a 2/3 majority.
        Once accepted through the hosting service, a trade cannot be withdrawn by one party due to
        player injury, suspension, or any other unforeseen circumstance.  The only way a trade can be
        voided is if it is withdrawn by both parties before the trade is granted.   Teams may not trade
        more than 5 players at a time.
    </p>

    <h2>New Rule Creation</h2>
    <p>
        When a league dispute arises which has not been addressed in the league constitution, a
        discussion will ensue on possible resolutions.  Following the discussion period, the
        commissioner will create an online poll so that owners can vote on an appropriate course of
        action.  The result of the poll will apply immediately and the resulting ruling will be appended to
        the existing constitution for future reference.
    </p>
    <p>
        All poll outcomes will be determined based on a plurality and in the case of a tie the
        commissioner will use his infinite wisdom to cast the deciding vote.  When possible polls will
        run for 3 days unless it is closer to game day, in which case the voting time will be shortened
        accordingly.
    </p>

    <h2>Roster Oversights</h2>
    <p>
        No team owner may have more than one open slot on their roster during a given week. If more
        than one position is left open on a roster, and there are no viable substitutes to fill in for those
        players, then the owners team will receive 0 pts. for the entire week and a loss.
    </p>

    <h2>League Naming</h2>
    <p>
        The winner of each year has the opportunity to name the league for the following season. This
        name sticks, no matter how degrading or personal it may be.
    </p>

    <h2>Preseason Drafting Limited Warranty</h2>
    <p>
        When drafting early, if a member of a team gets hurt or suspended for over half the current
        season the owner is eligible to drop and add a player from the waivers before the season starts. If
        multiple players are injured in the same game, the waiver order reverts to the original draft order.
    </p>

    <h2>Changes from last year</h2>
    <ul>
        <li>
            <b>
            Waiver order – waiver order does not reset each week. One you use your waiver you are moved to last in the order.
            </b>
        </li>
        <li>
            <b>
            Points – Yards rushing and yards after catch have both been changed to a decimal system. .1 per yard instead of 1 point / 10 yards.
            </b>
        </li>

        <li>
            <b>
            Season length – Regular season ends week 14. Playoffs are 15 and 16.
            </b>
        </li>
        <li>
            <b>
            Max amount of players traded at a time set to 5.
            </b>
        </li>
        <li>
            <b>
            Defense – Points allowed – 35 to 45 points allowed change to from -3 to -2 pts. 46+ pts allowed changed from -5 to -3 pts.
            </b>
        </li>
        <li>
            <b>
            Yards allowed – Max points lost changed from -7 to -5.
            </b>
        </li>
        <li>
            <b>
            2/3 Majority – LM has final say on season rules and scoring. However, any aspect of the system may be amended by a 2/3 majority vote.
            </b>
        </li>
    </ul>
</div>