@{
    ViewBag.Title = "Front Page Layout";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<form>
    <div class="form-group">
        <label for="TeamName">TeamName</label>
        <input type="text" class="form-control" id="TeamName">
    </div>
    <div class="form-group">
        <label for="TagLine">Tag Line</label>
        <input type="text" class="form-control" id="TagLine">
    </div>
    <div class="form-group">
        <label for="League Icon">League Icon</label>
        <input type="file" id="League Icon">
        <p class="help-block">Only scrubs need help blocks</p>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Hot Steamy Box
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Tag Line</h4>
            </div>
            <div class="modal-body">
                <p>One fine Tag Line&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#TeamName").val("New Team");

            $("body").on("change", "#TeamName",
                function() {
                    alert("Textbox changed.");
                });

            $("body").on("click", "#TagLine",
                function () {
                    $("#modal").modal('show');
                });
        });
    </script>
}
