@{
    ViewBag.Title = "Front Page Layout";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form>
    <div class="form-group">
        <label for="TeamName">TeamName</label>
        <input type="text" class="form-control" id="TeamName">
    </div>
    <div class="form-group">
        <label for="TagLine">Tag Line</label>
        <input type="text" class="form-control" id="TagLine">
    </div>
    <div class="form-group">
        <label for="League Icon">League Icon</label>
        <input type="file" id="League Icon">
        <p class="help-block">Only scrubs need help blocks</p>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Hot Steamy Box
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
